body {
  background-image: url("https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 26px;
  margin: 20px;
  background-color: rgba(250, 250, 250, 0.7);
  padding: 15px;
  color: rgba(29, 0, 75, 0.85);
}

.main-container {
  width: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input {
  margin-top: 20px;
  width: 30%;
  font-size: large;
  outline: none;
  text-align: center;
}

button {
  margin: 20px 0;
  outline: none;
  cursor: pointer;
  width: 25%;
  font-size: large;
}
